<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username" [formControl] = "usernameFormControl">
    </div>
    <button type="button" class="btn btn-primary" (click) = "onRegister()">Register</button>

    <ng-hcaptcha (verify)="onVerify($event)"
              (expired)="onExpired($event)"
              (error)="onError($event)">
    </ng-hcaptcha>
</form>