
<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Key Name" [formControl] = "keyNameFormControl">
<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Algorithm" [formControl] = "algorithmFormControl">
<button type="button" class="btn btn-primary" (click) = "onAdd()">Add Key</button>


<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Algorithm</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th> 
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let key of keys; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{key.keyName}}</td>
        <td>{{key.keyType}}</td>
        <td>{{key.keyValue}}</td>
        <td>
            <button type="button" class="btn btn-primary" (click) = "onCopy(key)">Copy</button>
            <button type="button" class="btn btn-primary" (click) = "onDelete(i)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>